# ======================================================
# 1. India Post Developer API Credentials | find from After runing 
# ======================================================
VITE_INDIAPOST_API_KEY=
VITE_INDIAPOST_API_SECRET=

# ======================================================
# 2. Next.js Server Action Hashes
# (Run "npm run extract-hashes" to update automatically)
# ======================================================
VITE_NEXTJS_TOKEN_ACTION=
VITE_NEXTJS_TRACK_ACTION=

# ======================================================
# 3. Rate Limiting Configuration (5 Searches / Minute)
# ======================================================
VITE_RATE_LIMIT_MAX_SEARCHES=5
VITE_RATE_LIMIT_WINDOW_MS=60000

# ======================================================
# 4. Admin Portal Environment Login Credentials
# ======================================================
VITE_ADMIN_EMAIL=
VITE_ADMIN_PASSWORD=
